[class*='__container'] {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.home__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 50px;
}

.activeFilter {
  background-color: aqua;
  color: black;
}

.isDone {
  transition: 0.4s;
  opacity: 0.5;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: aqua;
  transition: color 0.4s;

  &:hover {
    color: darkmagenta;
  }
}

.iconDelete {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aqua;
  transition: color 0.4s;

  &:hover {
    color: darkgray;
  }
}

.disabled {
  opacity: 0.2;
}



