[class*='__container'] {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.home__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 50px;
}

.activeFilter {
  background-color: #6849b6;
  color: black;
}

.isDone {
  transition: 0.4s;
  opacity: 0.5;
}

.iconDelete {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.4s;
}

.disabled {
  opacity: 0.2;
}

.formError {
  font-size: 12px;
}
