//todo

.todo {
  flex: 0 0 22.8%;
  border: 2px solid #6a9bd8;
  border-radius: 10px;
  padding: 20px;
  word-break: break-word;
  flex-wrap: wrap;
}

.todo__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.todo__removeButton {
  transition: all 0.4s;

  &:hover {
    color: black;
  }
}

.todo__items {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo__item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.todo__item span {
  padding: 2px 0 0;
}

.todo__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo__buttons-block {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.todo__btn {
  padding: 6px 12px;
  border-radius: 5px;
  white-space: nowrap;
}

.item__btn {
  transition: all 0.4s;

  &:hover {
    color: black;
  }
}

//AddItemForm

.AddItemForm {
  width: 100%;
  display: flex;
  gap: 5px;
  position: relative;
}

.AddItemForm__input {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 150%;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #6a9bd8;
  color: #ffffff;
}

.AddItemForm__btn {
  padding: 0 10px;
  border-radius: 5px;
}

.error {
  border: red 1px solid;
}

.error-message {
  position: absolute;
  bottom: -14px;
  left: 0;
  font-size: 12px;
  color: red;
}

.AddItemForm__label {
  position: absolute;
  top: -14px;
  left: 0;
  font-size: 12px;
}

//editebleSpan

.todo__input {
  display: flex;
  align-items: center;
}
