.todo {
  flex: 0 0 100%;
  padding: 20px;
  word-break: break-word;
  flex-wrap: wrap;
  border-radius: 12px;
  background: #38404b;
  box-shadow:
    5px 5px 13px 0px rgba(31, 35, 41, 0.9),
    -5px -5px 10px 0px rgba(81, 93, 109, 0.9),
    5px -5px 10px 0px rgba(31, 35, 41, 0.2),
    -5px 5px 10px 0px rgba(31, 35, 41, 0.2),
    -1px -1px 2px 0px rgba(31, 35, 41, 0.5) inset,
    1px 1px 2px 0px rgba(81, 93, 109, 0.3) inset;
}

.todo__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.todo__removeButton {
  transition: all 0.4s;

  &:hover {
    color: black;
  }
}

.todo__items {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo__item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.todo__item span {
  padding: 2px 0 0;
}

.todo__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo__buttons-block {
  display: flex;
  flex-wrap: nowrap;
}

.todo__btn {
  padding: 6px 12px;
  border-radius: 5px;
  white-space: nowrap;
}

.item__btn {
  transition: all 0.4s;

  &:hover {
    color: black;
  }
}
.activeFilter {
  color: black;
  background: #38404b;
  box-shadow:
    5px 5px 13px 0px rgba(31, 35, 41, 0.9),
    -5px -5px 10px 0px rgba(81, 93, 109, 0.9),
    2px -2px 2px 0px rgba(31, 35, 41, 0.2),
    -5px 5px 10px 0px rgba(31, 35, 41, 0.2),
    -1px -1px 2px 0px rgba(31, 35, 41, 0.5) inset,
    1px 1px 2px 0px rgba(81, 93, 109, 0.3) inset;
  transition: color 0.5s ease 0s;
}

//AddItemForm

.AddItemForm {
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
}

.AddItemForm__input {
  width: 100%;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 150%;
  border-radius: 5px;
  color: #8d8484;
  background: #38404b;
  box-shadow:
    3px 3px 8px 0px rgba(46, 53, 62, 0.9) inset,
    -3px -3px 6px 0px rgba(66, 75, 88, 0.9) inset,
    3px -3px 6px 0px rgba(46, 53, 62, 0.2) inset,
    -3px 3px 6px 0px rgba(46, 53, 62, 0.2) inset,
    -1px -1px 2px 0px rgba(46, 53, 62, 0.5),
    1px 1px 2px 0px rgba(66, 75, 88, 0.3);
}

.AddItemForm__btn {
  padding: 0 12px;
  font-size: 24px;
  border-radius: 12px;
  background: #38404b;
  box-shadow:
    5px 5px 13px 0px rgba(31, 35, 41, 0.9),
    -5px -5px 10px 0px rgba(81, 93, 109, 0.9),
    2px -2px 2px 0px rgba(31, 35, 41, 0.2),
    -5px 5px 10px 0px rgba(31, 35, 41, 0.2),
    -1px -1px 2px 0px rgba(31, 35, 41, 0.5) inset,
    1px 1px 2px 0px rgba(81, 93, 109, 0.3) inset;
  transition: color 0.3s ease 0s;
  &:hover {
    color: #12519b;
  }
  &:active {
    background: #263238;
    box-shadow:
      2px 2px 6px 0px rgba(31, 35, 41, 0.9),
      -2px -2px 6px 0px rgba(81, 93, 109, 0.9),
      1px -1px 1px 0px rgba(31, 35, 41, 0.2),
      -2px 2px 6px 0px rgba(31, 35, 41, 0.2),
      -1px -1px 2px 0px rgba(31, 35, 41, 0.5) inset,
      1px 1px 2px 0px rgba(81, 93, 109, 0.3) inset;
  }
}

.error {
  border: red 1px solid;
}

.error-message {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 12px;
  color: red;
}

.AddItemForm__label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
}

//editebleSpan

.todo__input {
  display: flex;
  align-items: center;
}
