.App {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
}

.activeFilter {
    background-color: cyan;
}

.isDone{
    opacity: 0.5;
}
