.App {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.error {
    border: 2px solid red;
}

.errorMessage {
    color: red;
}

.activeFilter {
    background-color: cornflowerblue;
    border: none;
}

.isDone {
    opacity: 0.5;
}


.buttons {
    display: flex;
    gap: 15px;
}